/Debug
/x64
/Projekt/Debug
/Projekt/x64
/Projekt/sfml-network-2.dll
/Projekt/sfml-network-d-2.dll
/Projekt/sfml-system-2.dll
/Projekt/sfml-system-d-2.dll
/Projekt/sfml-window-2.dll
/Projekt/sfml-window-d-2.dll
/Projekt/openal32.dll
/Projekt/sfml-audio-2.dll
/Projekt/sfml-audio-d-2.dll
/Projekt/sfml-graphics-2.dll
/Projekt/sfml-graphics-d-2.dll
/Projekt/*.dll
/.vs
